# Node.js dependencies
/node_modules

# Build files
/build
/dist

# Environment variables
.env

# Logs
/logs

# IDE files
.idea
.vscode

# Operating System files
.DS_Store
Thumbs.db

# Package lock files
package-lock.json
yarn.lock
